*{ /*  o * aplica a estilização para todas as tags dentro do body  */
    margin: 0;
}
nav{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    will-change: 100vw;
    height: 50px;

}

/*  o nth-child() é uma forma de selecionar um elemento do html sem utilizar classe ou id. Para isso, colocamos :nth-child no elemento filho que queremos selecionar e entre parênteses em que posição ele se encontra. 

Aqui embaixo selecionamos a tag a no html que é o primeiro filho e está dentro da nav. E o mesmo foi feito para o terceiro e sexto filho
*/
nav a:nth-child(1) {
    font-size: 18pt;
    color: black;
    text-decoration: none;
}
nav a:nth-child(3){
    font-size: 22pt;
    color: white;
    text-decoration: none;
}
nav button:nth-child(6){
    background-color: greenyellow;
}
.secoes{
    width: 100vw;
    height: 100px;
}
.azul{
    background-color: yellow;
}
.vermelho{
    background-color: blue
}