*{
    margin: 0;
}
nav{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    will-change: 100vw;
    height: 50px;

}
a{
    color: black;
    text-decoration: none;
    font-size: 14pt;

}